@import '../core/variables';
@import '../core/reset';
@import '../core/mixins';

.detail {
  @include flex;

  &__article {
    @include flex;
    border-color: $main-color;
    border-width: 7px;
    border-style: ridge;
    font-family: $font-default;
  }
  &__img {
    width: 300px;
    padding: 40px;
  }
}
