@import '../core/variables';
@import '../core/reset';
@import '../core/mixins';
.card {
  list-style: none;
  @include flex;
  text-align: center;
  margin-bottom: 1rem;

  &__item {
    border-color: $main-color;
    border-width: 7px;
    border-style: ridge;
    font-family: $font-default;
    color: $main-color;
    &--name {
      font-size: 1rem;

      &--species {
        padding-bottom: 2rem;
      }

      &--img {
        width: 80%;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
      }
    }
  }
}
